{
  "presets": [[
    "env", {
      "targets": {
          "node": "current"
        }
      }
    ], "react"],
  "plugins": [
    [ "babel-plugin-root-import", { "rootPathPrefix": "@" } ],
    [ "transform-class-properties" ]
  ]
}